.border-md {
  border-width: 2px;
}

.btn-facebook {
  background: #405d9d;
  border: none;
}

.btn-facebook:hover,
.btn-facebook:focus {
  background: #314879;
}

.btn-twitter {
  background: #42aeec;
  border: none;
}

.btn-twitter:hover,
.btn-twitter:focus {
  background: #1799e4;
}

/*
*
* ==========================================
* FOR DEMO PURPOSES
* ==========================================
*
*/
#login {
  .title {
    color: black;
    font-weight: bold;
    text-align: center;
    font-size: xx-large;
  }
  .phai {
    margin-right: 10px;
  }
  body {
    min-height: 100vh;
    background-color: rgb(179, 230, 245);
  }
  .input-login {
    height: 5rem;
    font-size: 5rem;
    font-weight: bolder;
  }
  .input-login::placeholder {
    font-size: medium !important;
  }
  .error {
    border: solid 1px red;
  }
  .form-control:not(select) {
    padding: 1 rem 0.5rem;
  }

  select.form-control {
    /* height: 52px; */
    padding-left: 0.5rem;
  }

  .form-control::placeholder {
    color: #ccc;
    font-weight: bold;
    font-size: 0.9rem;
  }
  .form-control:focus {
    box-shadow: none;
  }
  .inputs {
    width: 100% !important;
  }
}
